SERVICES_DB_USER=postgres
SERVICES_DB_HOST=service_db
SERVICES_DB_NAME=postgres
SERVICES_DB_PASSWORD=postgres
SERVICES_DB_PORT=5432
AUTH_HOST=http://host.docker.internal
AUTH_PORT=6050
AUTH_PATH_AUTH=/auth/auth